/* Basic reset for margins and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Sidebar styling */
.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 25%;
    height: 100vh;
    background-color: #f5f5f5; /* Light grey */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-family: "Calibri", sans-serif; /* Softer font */;


}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.profile h1 {
    color: #757575; /* Lighter shade of dark grey */
    font-size: 30px;
    font-weight: bold;
}

.profile p {

    color: #666666; /* Lighter grey for tagline */
    font-size: 12px;
    
}





/* Menu styling */
.menu {
    list-style: none;
    padding-left: 0;
    width: 100%;
    text-align: center;
}

.menu li {
    margin: 20px 0;
}

.menu a {
    text-decoration: none;
    color: #4d4d4d; /* Lighter shade of dark grey */
    font-size: 16px;
    font-weight: normal;
    transition: color 0.3s;
}

.menu a:hover {
    color: #ff6600; /* Orange hover effect */
}

/* Main content area styling */
.content {
text-align: center;
    margin-left: 25%; /* Leave space for sidebar */
    padding: 0;
    width: 75%;
    font-family: 'Calibri', sans-serif; /* Softer font for main content */
}


.content img {
    display: block;
    margin: 0 auto; /* Aligns the image horizontally in the center */
    border-radius: 50%; /* Optional: This makes the image round */
    width: 200px; /* Adjust size as necessary */
    height: 220px; /* Adjust size as necessary */
}

/* Section styling */
.section {
    height: 100vh; /* Full screen sections */
    padding: 60px;
}

.dark {
    background-color: #4d4d4d; /* Lighter dark grey background */
    color: white;
}

.light {
    background-color: #f0f0f0; /* Light grey background */
    color: black;
}

/* Style for section headings */
h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif; /* Softer font for headings */
    font-weight: 600; /* Slightly softer weight */
}

/* Paragraph styling */
p {
    font-size: 18px;
    line-height: 1.6;
    font-family: 'Arial', sans-serif; /* Softer font */
}
